body {

  margin-left:450px;
  margin-top:200px;
  
 }
 
   .d {
 
     
     box-shadow:0 0 5px rgba(0, 0, 0, 0.3);
     display: inline-block;

     margin-right:10px;
     
    
   }
 
   .cat1 {
 
     width:170px;
     height:170px;
     object-fit: cover;
     
     
    
   }

 
   .oliver {
 
     padding-left:5px;
     font-weight:bold;
     font-family:arial;
     font-size:18px;
     
     margin-top:10px;
     margin-bottom:-10px;
 
   }
 
   .mutual {
 
     color:rgb(100, 100, 100);
     margin-left:5px;
 
     margin-bottom:10px;
 
 
   }
 
   .button {
 
     background-color:rgb(24, 119, 242);
     border:none;
     color:white;
     border-radius:4px;
     font-family:arial;
     font-size:16px;
 
     margin-left:5px;
     margin-bottom:5px;  
     margin-top:1px;
 
     padding-left:22px;
     padding-right:22px;
     padding-top:8px;
     padding-bottom:8px;
 
    
   }