.re {
  background-color:black;
  color:white;
  padding:15px 15px 15px 15px;
  cursor:pointer;

  border:none;

  transition: 0.2s;
}
.re:hover{
  opacity:0.5;
}

.add {
  background-color:rgb(255, 209, 59);
  width:200px;
  height:40px;
  border:none;
  border-radius:20px;
  cursor:pointer;

  font-size:18px;
  transition: 0.2s;

}

.add:hover {
  background-color:orange;
  
}
.sign {
  background-color:rgb(30, 165, 30);
  cursor:pointer;
  color:white;

  width:120px;
  height:42px;
  border-radius:6px;
  border:none;
  font-size:18px;
  font-weight:bold;
  transition: 0.2s;
}
.sign:hover{
  box-shadow: 2px 4px 2px rgb(231, 229, 229);
}

.get {
  width:130px;
  height:44px;
  cursor:pointer;
  color:white;
  font-weight:bold;
  font-size:17px;

  background-color:rgb(152, 53, 233);
  border:none;
  border-radius:4px;
  transition: 0.2s;
  
}

.get:hover {
  background-color: rgb(134, 54, 209);
}

.down {
  width:130px;
  height:44px;
  cursor:pointer;

  background-color:white;
  color:grey; 
  font-size:17px;

  border:1px solid rgb(133, 128, 128);
  border-radius:3px;
  font-weight:bold;
  transition: 0.2s;

}

.down:hover{
  background-color:  rgb(133, 128, 128);
  color:white;
}

.apply{
  padding:14px 50px 14px 50px;
  cursor:pointer;

  font-weight:bold;
  font-size:18px;
  color:white;

  background-color:rgb(80, 78, 236);

  border:none;
  border-radius:100px;
  transition: 0.2s;

}

.apply:hover {
  background-color: rgb(29, 29, 192);

}

.save{
  width:90px;
  height:48px;
  font-weight:bold;
  font-size:18px;

  border:1px solid rgb(37, 37, 247);
  border-radius:100px;
  color:rgb(79, 79, 236);
  transition: 0.3s;
}

.save:hover{
  background-color: rgb(193, 215, 230);
  border-width:2px;
}

.back {
  font-size:19px;
}
.nike{
  font-size:30px;
  font-weight:bold;
}
.dollor {
  color:green;
  font-size:21px;
}

.free{
  font-size:21px;
}
.cart{
  border:none;
  border-radius:100px;

  font-size:19px;

  width:160px;
  height:40px;
  background-color: rgb(236, 199, 77);
}

.buy{
  border:none;
  border-radius:100px;

  font-size:19px;

  width:160px;
  height:40px;
  background-color: rgb(236, 136, 43);
  margin-left:13px;

}


.subs{
  padding:14px 25px 14px 25px;
  color:white;
  font-size:17px;
  border:none;
  border-radius:3px;
  background-color: rgb(204, 0, 0);
  margin-right:10px;
}

.subs:hover{
  background-color: rgb(146, 25, 25);
  transition:0.5s;
}

.join {
  background-color: white;
  color:blue;
  border:1px solid blue;
  border-radius:3px;
  padding:13px 20px 13px 20px;
  font-size:17px;

  margin-right:10px;
}

.join:hover{
background-color: skyblue;
transition:0.5s;
}

.tweet{

  padding:15px 20px 15px 20px;

  background-color: rgb(29, 155, 240);
  color:white;
  border:none;
  border-radius:100px;
  font-size:17px;
  font-weight:bold;
  
}

.tweet:hover {
  box-shadow: 4px 4px 10px rgb(155, 148, 148);
  transition:0.5s;

}

