

p{
  font-family:montserrat;
  text-align:center;
  margin:0;
}

.model{
  font-size:80px;
  font-weight:bold;
  margin:40px 0 16px 0;}

.order{
  font-size:30px;
  }
  

.touch{
  text-decoration: underline;
}