img{
  width:200px;
  margin:0 40px 100px 0;
}
.cat1{
  border-radius:7px;
}
.cat2{
  object-fit: cover;
  width:130px;
  height:137px;
}
.cat3{
  object-fit: cover;
  border-radius:100%;
  height:140px;
  width:137px;
}

input,label,p,button{
  font-family:arial;
}
.search{
  font-size:17px;
  padding:8px 10px 8px 10px;
  border-radius:7px;
  border:1px solid grey;
  margin:20px 0 20px 0;
}
.search2{
  padding:13px 300px 13px 9px;
  border:none;
  border-radius:100px;
  box-shadow: 0 0 6px rgb(158, 144, 144);
  order:1px solid grey;
  margin:20px 0 30px 0;
}

.email{
  color:rgb(119, 115, 115);
  font-size:14px;
}
.text{
  margin:6px 0 4px 0;
  padding:8px 210px 8px 20px;
  border:2px solid rgb(95, 89, 89);
  border-radius:4px;
}

.by{
  color:rgb(100, 96, 96);
  font-size:16px;
}
.agree{
  color:white;
  font-size:20px;
  background-color: rgb(64, 96, 238);
  border:none;
  border-radius:100px;
  padding:17px 135px 17px 135px;

}
.cat4{
  width:60px;
  height:60px;
  border-radius:100px;
  object-fit: cover;
  margin:40px 10px 0 0;
  vertical-align: middle;
}
.what{
  vertical-align: middle;
  margin:40px 20px 0 0;
  border:none;
  font-size:18px;
}

.tweet{
  vertical-align:middle;
  margin:40px 20px 0 0;
  padding:8px 15px 8px 15px;
  background-color: rgb(73, 149, 236);
  border:none;
  border-radius:20px;
  color:white;
  font-size:18px;
}