

.name{
  display:block;
  margin:20px 0 5px 0;
}
.email{
  display:block;
}
.thanks{
  width:200px;
  display:inline-block;
  vertical-align: middle;
}
.yes{
vertical-align: middle;
}
.no{
  vertical-align: middle;
  
}
.google{
  width:200px;
  display:block;
  margin:20px 0 20px 200px;
}
.search{
  border:none;
  border-radius:100px;
  width:405px;
  height:30px;
  padding:0 0 0 15px;
  box-shadow: 0 0 3px rgb(141, 134, 134);
  margin:1px 0 20px 80px;
  display:block;
}
.first{
  border:1px solid rgb(179, 177, 177);
  border-radius:4px;
  padding:0 0 0 10px;
  width:120px;
  height:35px;
}
.last{
  border:1px solid rgb(179, 177, 177);
  border-radius:4px;
  padding:0 0 0 10px;
  width:120px;
  height:35px;
}
.email2{
display:block;
margin:10px 0 10px 0;
border:1px solid rgb(179, 177, 177);
border-radius:4px;
padding:0 0 0 10px;
width:255px;
height:35px;
}
.sign{
  background-color: rgb(63, 63, 189);
  color:white;
  border:none;
  border-radius:5px;
  width:267px;
  height:40px;
  font-weight:bold;
  font-size:16px;
  
}
.request{

}
.enter{
  border:none;
  width:300px;
  height:37px;
  padding:0 0 0 20px;
  display:block;
  background-color: rgb(240, 240, 240);
  margin:10px 0 5px 0;
}
.enter2{
  border:none;
  width:300px;
  height:37px;
  padding:0 0 0 20px;
  display:block;
  background-color: rgb(240, 240, 240);

}
.request2{
  background-color: black;
  color:white;
  border:none;
  width:110px;
  height:35px;
  text-align:center;
  margin:50px 10px 10px 0;
}
.schedule{
  border:none;
  background-color: rgb(223, 223, 223);
  width:130px;
  height:35px;
  text-align:center;
  padding:0 20px 0 15px;
}




