p{
  font-family:arial;
}
.red{
  background-color: red;
  color:red;
  width:100px;
  height:100px;
  margin:0 0 10px 0; 
}
.green{
  background-color: green;
  color:green;
  text-align:center;
  width:100px;
  height:100px;
  border-radius:100px;
  margin:0 0 10px 0; 

}
.box{
  width:250px;
  height:80px;
  border:1px solid rgb(165, 155, 155);
  padding:0 0 10px 15px;
  margin:0 0 20px 0; 
}
.box2{
  width:300px;
  height:80px;
  color:white;
  background-color:black;
  border:1px solid black;
  padding:7px 0 10px 15px;
  font-family:arial;
  margin: 0 0 20px 0;
}

.ins{
  font-size:20px;
  margin:10px 0 10px 0; 
}

.add{
  color:rgb(151, 148, 148);
  font-size:13px;
  margin:0 0 0 0; 
}

.box3{
  width:360px;
  height:40px;
  padding:10px 9px 10px 10px;
  box-shadow: 0 0 4px rgb(112, 110, 110); 
  border:none;
  border-radius:3px;
}
.cat{
  width:40px;
  height:40px;
  object-fit: cover;
  border-radius:100px;
  display: inline-block;
  vertical-align: middle;
}
.what{
  display:inline-block;
  vertical-align: middle;
  margin:10px 100px 10px 10px ;
  color:grey;
}
.tweet{
  vertical-align: middle;
  color:white;
  background-color: rgb(47, 159, 204);
  border:none;
  border-radius:100px;
  font-size:13px;
  padding:7px 12px 7px 12px;
}
.box4{
  width:150px;
  height:230px;
  margin:20px 0 50px 0;
  display:block;
  box-shadow:0 0 10px rgb(117, 112, 112);
}
.cat2{
  width:100%;
  height:60%;
  object-fit: cover;
  margin:0 0 0 0;
}
.oliver{
  margin:5px 0 5px 5px;
  font-size:15px;
  font-weight:bold;
}
.mutual{
  color:grey;
  font-size:12px;
  margin:7px 0 5px 5px;
}
.add2{
  margin:7px 0 5px 5px;
  color:white;
  background-color: rgb(4, 124, 172);
  border:none;
  border-radius:3px;
  width:87px;
  height:25px;
}

.box5{
  width:150px;
  height:230px;
  margin:20px 15px 50px 0;
  display:block;
  box-shadow:0 0 10px rgb(117, 112, 112);
  display: inline-block;
}
.oli{
  width:100%;
  height:60%;
  object-fit: cover;
  margin:0 0 0 0;
}
.friend{
  margin:5px 0 5px 5px;
  font-size:15px;
  font-weight:bold;
}
.ad{
  color:grey;
  font-size:12px;
  margin:7px 0 5px 5px;
}
.frnd{
  margin:7px 0 5px 5px;
  color:white;
  background-color: rgb(4, 124, 172);
  border:none;
  border-radius:3px;
  width:87px;
  height:25px;
}



.fullgoogle{
  text-align:center;
}
.google{
  width:250px;
  margin:0 0 0 0;
}
.search{
  border:none;
  box-shadow: 0 0 7px rgb(155, 153, 153);
  border-radius:100px;
  width:700px;
  height:36px;
  padding:5px 5px 5px 15px;
  margin:10px 0 10px 0;
  font-size:19px;
}
.google1{
  border:none;
  width:130px;
  height:40px;
  padding:0 0 0 0;
  background-color: rgb(231, 225, 225);
  font-size:14px;
  font-weight:500;
  margin:10px 10px 10px 20px;
}
.google2{
  border:none;
  width:130px;
  height:40px;
  padding:0 0 0 0;
  background-color: rgb(231, 225, 225);
  font-size:14px;
  font-weight:500;
  margin:10px 30px 10px 0;
}

