/* css design for 5th_activity.html*/


p {
  text-align:center;
}

.model {

  font-family:montserrat;
  font-size:55px;
  font-weight:bold;

  margin-bottom:20px;

}

.onder {
  
  font-family:montserrat;
  font-size:30px;

  margin-top:0;

}

.td {

  text-decoration:underline;
}