
.body {

  background-image:url(../pictures/ir.png);
  background-size:cover;
  background-position:center;
  object-fit: cover;
  object-position: right;
  padding-bottom:431px;
  
}

.grid {


  display: flex;
  align-items:center;


}

.imgingrid {

  width:90px;
  height:90px;
  object-fit: cover;
  object-position:right;
  border-radius:100px;

  border-width:5px;
  background: linear-gradient(to bottom right,rgb(167, 33, 0), rgb(255, 174, 0),rgb(233, 11, 48),rgb(255, 12, 12));
  border-style:solid;
  border:5px transparent;

  margin-right:50px;
  margin-top:20px;
  margin-left:20px;

  padding:5px;
}


.lineheight {


  list-style: none;
  display: flex;       
  gap: 80px;  

  margin-top:30px;
  list-style: none;
  background-size: 100% auto;

}



a {

  text-decoration: none;
}

.link {

  background:linear-gradient(to bottom right, rgb(255, 115, 0),rgb(235, 235, 235),red);
  border-radius:30px;
  margin-bottom:20px;
}

.link2 {


  color:black;
  font-size:30px;
  font-weight:bold;
  font-family:arial;

  border:3px;
  border-width:2px;
  border-color:rgb(212, 139, 139);
  border-style:solid;

  border-radius:30px;
}

.link2:hover {

  color:gold;
  font-size:30px;
}

.beforep {

  width:200px;
  margin-left:20px;
  margin-top:10px;

  border-width:3px;
  border-color:rgb(238, 185, 11);
  border-style:solid;
  border-radius:90px 90px 200px 100px;
}

.p {

  width:200px;
  height:150px;
  margin-left:10px;

  color:rgb(230, 176, 176);
  font-family:arial;
 

  font-size:20px;
}