

.header{
  display: flex;
  height: 57px;
  margin-bottom: 20px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 1;
}

.left{
display: flex;
align-items: center;
}
.left1{
  height: 24px;
  margin-left: 24px;
  margin-right: 24px;
  cursor: pointer;
}
.left2{
 height:20px;
 cursor: pointer;
  
}


.middle{
  display: flex;
  flex:1;
  align-items: center;
  cursor: pointer;
  max-width: 470px;
  margin-left:60px;

}
.middle1{

  font-family: Roboto, Arial, sans-serif;
  height: 40px;
  flex: 1;
  width: 0;
  min-width: 0;
  padding-left: 12px;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  border: 1px solid rgb(204, 204, 204);
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  box-shadow: inset 0px 1px 2px rgb(238, 238, 238);


}
.middle1:focus {
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  border-color: blue;
  outline:none;
  
}

.search-button{
  height: 44px;
  width: 64px;
  border: 1px solid rgb(204, 204, 204);
  border-left: none;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  background-color: rgb(247, 247, 247);
  cursor: pointer;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.middle2{
  width:25px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;


}
.middle3{
  width:30px;
  height:38px;
  background-color: rgb(248, 248, 248);
  border-radius:50px;
  padding:0 5px 0 5px;
  ;
}



.right{
column-gap: 20px;
display:flex;
align-items: center;
cursor: pointer;
margin-right:5px;



}
.right1{
  width:25px;
  margin:5px 5px 0 30px;
}
.right2{
  width:25px;
  margin:5px 5px 0 5px;
}

.bell-noti{
  position: relative;
  display:inline-block;
}
.right3{
  width:25px;
  margin:5px 1px 0 5px;
}
.notification-number{
  position: absolute;
  top: 5px;    
  right: -3px; 
  background: rgb(204, 0, 0);
  color: white;
  font-size: 10px;
  font-weight:bold;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family:arial;
}


.right4{
  width:35px;
  height:35px;
  margin:0 27px 0 5px;
  border-radius:50px;
}
