a{
  text-decoration: none;
  color:inherit;
}
.first-grid {
  display: grid;
  grid-template-columns:repeat(4, minmax(240px, 1fr));
  column-gap:30px;
  row-gap: 40px;
  padding:25px;
  background-color: rgb(248, 247, 247);
  border-top:1px solid rgb(235, 232, 232);
  position:relative;  
  margin-top:60px;
}

.time-owner{
  position:relative;
}
.time{
  position:absolute;
  bottom:3px;
  right:6px;

  background-color: black;
  border-radius:3px;
  color:white;
  font-size:13px;
  padding:4px;

}
.first-image{
  width:100%;
  margin: 0 0 0 0;
  vertical-align: top;
}
.information{
  width:100%;
  display: grid;
  grid-template-columns: 48px 1fr;
  margin:0 0 0 0;


}
.second-image{
  width:80%;
  border-radius:50px;
  margin: 10px 0 0 0 ;
  
}

.info{
  width:100%;
}
.title{
  margin:8px 0 0 7px;
  font-size:14px;
  width:100%;
}
.name{
  color:rgb(96, 96, 96);
  font-size:12px;
  margin:10px 0 0 7px;

}
.data{
  color:rgb(96, 96, 96);
  font-size:12px;
  margin:4px 0 0 7px;

}

