.pp-img-container{
  position: relative;
}


.tooltip-pp{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  padding:10px 15px 10px 0;
  border-radius:5px;
  box-shadow: 0 0 5px rgb(153, 150, 150);
  background-color: white;
  opacity: 0;
  z-index: 200;
  white-space: none;
  pointer-events: none;
  transition: opacity 0.30s;

  width:220px;
}
.pp-img{
  width:50px;
  height:50px;
  object-fit: cover;
  border-radius:25px;
}
.pp-name{
  font-size:16px;
  font-weight:bold;
  font-family:'Roboto';

  margin-top:-10px;
}
.pp-data{
  color:rgb(96, 96, 96);
  font-size:14px;
  margin:5px 0 0 2px;
  font-family:'Roboto';
}

.pp-img-container:hover .tooltip-pp{
  opacity: 1;

}
