.grid {

  display:grid;
  grid-template-columns: 200px 200px 200px;
  column-gap:20px;
}



.center {

  margin-left:400px;
  margin-top:200px;
}

.d {
 
     
  box-shadow:0 0 5px rgba(0, 0, 0, 0.3);
  width:200px;
  margin-right:15px;
  
}

.img1 {

  width:200px;
  height:200px;
  object-fit: cover;
  

}

.name1 {

  padding-left:5px;
  font-weight:bold;
  font-family:arial;
  font-size:18px;
  
  margin-top:10px;
  margin-bottom:-8px;

}

.img2 {

  width:28px;
  height:28px;
  border-radius:50px;
  vertical-align: middle;
  object-fit: cover;

  margin-left:5px;
  
  
}

.mf1 {

  color:rgb(100, 100, 100);
}

.divmf {
  display:grid;
  grid-template-columns: 35px 1fr;
  align-items: center;
  color:rgb(100, 100, 100);
}



.button {

  background-color:rgb(24, 119, 242);
  border:none;
  color:white;
  border-radius:4px;
  font-family:arial;
  font-size:16px;

  margin-left:5px;
  margin-bottom:5px;  
  margin-top:1px;

  padding-left:22px;
  padding-right:22px;
  padding-top:8px;
  padding-bottom:8px;
}