
p {
  font-family:Roboto, arial;
}

.allgrid {

  display: grid;
  padding:20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap:7px;
  row-gap:40px;
}

.vt {


  position:absolute;
  bottom:8px;
  right:6px;
  background-color: black;
  color:white;
  font-size:13px;
  border-radius:3px;
  font-family:Roboto;

  padding:3px;


}
.vc {
  position:relative;
  display: inline-block;

}
.vc img {
  display:block;
}

.imgpp {

  margin-top:0;
}



.video1 {

  width:100%;
  display:grid;
  grid-template-columns: 300px;
  column-gap:20px;
  row-gap:40px;
  line-height:20px;

  
}
.links {

  color:inherit;
  text-decoration: none;
  font-size:14px;
  font-weight:500;
  display: inline-block;

}
.links2 {

  color:inherit;
  text-decoration: none;
  font-size:14px;
  font-weight:500;
  display: block;
  

  margin-top:-8px;
  margin-bottom:-10px;

}


.links3 {

  font-size:13px;
  text-decoration:none;
  color:inherit;
  color:rgb(96, 96, 96);

 

}
.links4 {

 
  margin-top:10px;
  display:block;
  line-height:17px;

}

.links5 {

  font-size:13px;
  text-decoration:none;
  color:inherit;
  color:rgb(96, 96, 96);
  margin-top:-15px;

}

.links6 {

  margin-top:17px;
  margin-bottom:20px;
}

.video1-1 {
  width:100%;
  margin-bottom:0;
  
}

.img-video1 {

  width:40px;
  border-radius:50px;
  margin-top:8px;

}

.grid-video1 {

  width:100%;
  display:grid;
  grid-template-columns: 50px 1fr;
  align-items: flex-start;
  
 
}