



p {

  display:block;
  font-family:arial;
  font-size:44px;

  margin-bottom:27px;
  margin-left:500px;
  margin-top:100px;
}


input {

  display:block;
  border:none;
  background-color:rgb(240, 240, 240);
  width:400px;
  height:48px;
  font-size:15px;
  font-family:arial;
  

  margin-bottom:10px;
  margin-left:500px;

  padding-left:20px;
  
}

.r {

  border:none;
  background-color:black;
  color:white;
  width:136px;
  height:45px;

}

.sc {



  border:none;
  background-color: rgb(240, 240, 240);
  width:160px;
  height:45px;


  margin-left:20px;
  margin-top:26px;

}

button {

  font-size:16px;
  font-family:arial;
  margin-left:500px;
  
}

